langchain==0.3.25
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-community==0.3.24
langchain-text-splitters==0.3.8
chromadb==0.6.3
cohere==5.15.0
ragas==0.2.14
langsmith==0.3.45
streamlit==1.45.1
python-dotenv==1.0.1
pypdf==5.4.0
pandas==2.2.3
plotly==6.0.1
sqlalchemy==2.0.41
sentence-transformers==3.4.1
torch==2.6.0
transformers==4.51.3